<div class="nl-home">
  <section
    class="nl-home-section-start"
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="1000"
  >
    <div class="start-wrapper">
      <div class="img-girl-wrapper">
        <img
          src="../../assets/images/nl-home-girl.svg"
          class="start-wrapper__img-girl"
        />
      </div>
      <div class="start-wrapper-info">
        <h2 ng-tr="NLHOM.NLHOM1" class="start-wrapper-info__header"></h2>
        <p
          ng-tr="NLHOM.NLHOM2"
          class="start-wrapper-info__description nl-home--description"
        ></p>
        <a
          ng-tr="NLHOM.NLHOM3"
          class="nl-btn nl-btn-orange"
          ng-click="openLoginModal('modal-lk-registrationlk', null, 'PROJECT')"
        ></a>
      </div>
    </div>
  </section>

  <section
    class="nl-home-section-work"
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="1000"
  >
    <div class="work-wrapper">
      <img
        class="work-wrapper__img-arrow"
        src="../../assets/images/nl-home-work-arrow.svg"
      />

      <img
        class="work-wrapper__img-blot-rect"
        src="../../assets/images/nl-home-work-blot-rect.svg"
      />

      <img
        class="work-wrapper__img-blot-circle"
        src="../../assets/images/nl-home-work-blot-circle.svg"
      />

      <div class="work-wrapper__header">
        <h2 class="nl-home--title" ng-tr="NLHOM.NLHOM4"></h2>
      </div>

      <div class="work-wrapper__content">
        <div class="work-wrapper__content-steps">
          <div class="nl-home-card">
            <span class="nl-home-card__title">01</span>
            <span
              class="nl-home-card__description"
              ng-tr="NLHOM.NLHOM31"
            ></span>
          </div>
          <div class="nl-home-card">
            <span class="nl-home-card__title">02</span>
            <span
              class="nl-home-card__description"
              ng-tr="NLHOM.NLHOM32"
            ></span>
          </div>
          <div class="nl-home-card">
            <span class="nl-home-card__title">03</span>
            <span
              class="nl-home-card__description"
              ng-tr="NLHOM.NLHOM33"
            ></span>
          </div>
          <div class="nl-home-card">
            <span class="nl-home-card__title">04</span>
            <span
              class="nl-home-card__description"
              ng-tr="NLHOM.NLHOM34"
            ></span>
          </div>
        </div>
        <div class="work-wrapper__content-video">
          <div class="content-video-wrapper">
            <iframe
              class="yt-hd-thumbnail"
              allowfullscreen="true"
              allow="autoplay"
              src="https://www.youtube.com/embed/Q2CnE_Nlsbc"
            ></iframe>
          </div>
        </div>
      </div>

      <div class="work-wrapper__footer">
        <a class="nl-btn nl-btn-green" href="/about" ng-tr="NLHOM.NLHOM5"></a>
      </div>
    </div>
  </section>

  <section
    class="nl-home-section-helpful"
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="1000"
  >
    <div class="helpful-wrapper">
      <h2>
        <span class="nl-home--title" ng-tr="NLHOM.NLHOM6"></span>
        <span class="nl-home--title nl-home--green" ng-tr="NLHOM.NLHOM7"></span>
        <span class="nl-home--title" ng-tr="NLHOM.NLHOM8"></span>
      </h2>
      <span
        class="helpful-wrapper__description nl-home--description"
        ng-tr="NLHOM.NLHOM9"
      ></span>
      <div class="helpful-wrapper__cards">
        <div class="helpful-card">
          <div class="helpful-card__img">
            <img src="../../assets/images/nl-home-helpful-block-1.svg" />
          </div>
          <span class="helpful-card__title" ng-tr="NLHOM.NLHOM10"></span>
          <span class="nl-home--description" ng-tr="NLHOM.NLHOM11"> </span>
        </div>
        <div class="helpful-card">
          <div class="helpful-card__img">
            <img src="../../assets/images/nl-home-helpful-block-2.svg" />
          </div>
          <span class="helpful-card__title" ng-tr="NLHOM.NLHOM12"></span>
          <span class="nl-home--description" ng-tr="NLHOM.NLHOM13"> </span>
        </div>
        <div class="helpful-card">
          <div class="helpful-card__img">
            <img src="../../assets/images/nl-home-helpful-block-3.svg" />
          </div>
          <span class="helpful-card__title" ng-tr="NLHOM.NLHOM14"></span>
          <span class="nl-home--description" ng-tr="NLHOM.NLHOM15"></span>
        </div>
      </div>
    </div>
  </section>

  <section class="nl-home-section-clients">
    <div class="clients-wrapper">
      <h2 class="clients-wrapper__header" ng-tr="NLHOM.NLHOM16"></h2>
      <div class="clients-wrapper__logo-list">
        <img src="../../assets/images/nl-home-clients-logo-rabota_ru.svg" />
        <img src="../../assets/images/nl-home-clients-logo-gazprombank.svg" />
        <img src="../../assets/images/nl-home-clients-logo-5.svg" />
      </div>
      <div class="clients-wrapper__logo-list clients-wrapper__logo-list_flex-end">
        <img src="../../assets/images/nl-home-clients-logo-2.svg" />
        <img src="../../assets/images/nl-home-clients-logo-4.svg" />
        <img src="../../assets/images/nl-home-clients-logo-3.svg" />
        <img src="../../assets/images/nl-home-clients-logo-1.svg" />
      </div>
      <div class="clients-wrapper__cards">
        <div
          class="clients-card"
          data-aos="fade-up"
          data-aos-delay="0"
          data-aos-duration="1000"
        >
          <ul>
            <li>
              <img
                src="../../assets/images/egor_golubev.png"
                class="clients-card__logo"
              />
            </li>
            <li>
              <span class="clients-card__user" ng-tr="NLHOM.NLHOM17"></span>
            </li>
            <li>
              <span
                class="clients-card__title nl-home--green"
                ng-tr="NLHOM.NLHOM18"
              ></span>
            </li>
            <li>
              <p ng-tr="NLHOM.NLHOM19"></p>
            </li>
          </ul>
        </div>
        <div
          class="clients-card clients-card-center"
          data-aos="fade-up"
          data-aos-delay="0"
          data-aos-duration="1000"
        >
          <ul>
            <li>
              <img
                src="../../assets/images/svetlana_gorshkova.jpg"
                class="clients-card__logo"
              />
            </li>
            <li>
              <span class="clients-card__user" ng-tr="NLHOM.NLHOM20"></span>
            </li>
            <li>
              <span
                class="clients-card__title nl-home--green"
                ng-tr="NLHOM.NLHOM21"
              ></span>
            </li>
            <li>
              <p ng-tr="NLHOM.NLHOM22"></p>
            </li>
          </ul>
        </div>
        <div
          class="clients-card"
          data-aos="fade-up"
          data-aos-delay="0"
          data-aos-duration="1000"
        >
          <ul>
            <li>
              <img
                class="clients-card__logo"
                src="../../assets/images/ildar_mullahmetov.png"
              />
            </li>
            <li>
              <span class="clients-card__user" ng-tr="NLHOM.NLHOM23"></span>
            </li>
            <li>
              <span
                class="clients-card__title nl-home--green"
                ng-tr="NLHOM.NLHOM24"
              ></span>
            </li>
            <li>
              <p ng-tr="NLHOM.NLHOM25"></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <img
      class="nl-home__center-blot-img"
      src="../../assets/images/nl-home-center-blot.png"
    />
  </section>

  <section class="nl-home-section-clients-mobile">
    <h3 class="clients-wrapper__header" ng-tr="NLHOM.NLHOM16"></h3>
    <div class="clients-wrapper__logo-list">
      <img src="../../assets/images/nl-home-clients-logo-rabota_ru.svg" />
      <img src="../../assets/images/nl-home-clients-logo-gazprombank.svg" />
      <img src="../../assets/images/nl-home-clients-logo-5.svg" />
    </div>
    <div class="clients-wrapper__logo-list clients-wrapper__logo-list_flex-end">
      <img src="../../assets/images/nl-home-clients-logo-2.svg" />
      <img src="../../assets/images/nl-home-clients-logo-4.svg" />
      <img src="../../assets/images/nl-home-clients-logo-3.svg" />
    </div>
    <img
      data-aos="fade-up"
      data-aos-delay="0"
      data-aos-duration="1000"
      class="clients-img-blot"
      src="../../assets/images/nl-home-clients-blot-mobile.svg"
    />

    <div
      id="carousel"
      class="carousel slide"
      data-ride="carousel"
      style="display: inline-block;"
    >
      <!-- Индикаторы -->
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <div class="item-wrapper">
            <div
              class="clients-card"
              data-aos="fade-up"
              data-aos-delay="0"
              data-aos-duration="1000"
            >
              <ul>
                <li>
                  <img
                    src="../../assets/images/egor_golubev.png"
                    class="clients-card__logo"
                  />
                </li>
                <li>
                  <span class="clients-card__user" ng-tr="NLHOM.NLHOM17"></span>
                </li>
                <li>
                  <span
                    class="clients-card__title nl-home--green"
                    ng-tr="NLHOM.NLHOM18"
                  ></span>
                </li>
                <li>
                  <p ng-tr="NLHOM.NLHOM19"></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper">
            <div
              class="clients-card clients-card-center"
              data-aos="fade-up"
              data-aos-delay="0"
              data-aos-duration="1000"
            >
              <ul>
                <li>
                  <img
                    src="../../assets/images/svetlana_gorshkova.jpg"
                    class="clients-card__logo"
                  />
                </li>
                <li>
                  <span class="clients-card__user" ng-tr="NLHOM.NLHOM20"></span>
                </li>
                <li>
                  <span
                    class="clients-card__title nl-home--green"
                    ng-tr="NLHOM.NLHOM21"
                  ></span>
                </li>
                <li>
                  <p ng-tr="NLHOM.NLHOM22"></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-wrapper">
            <div
              class="clients-card"
              data-aos="fade-up"
              data-aos-delay="0"
              data-aos-duration="1000"
            >
              <ul>
                <li>
                  <img
                    class="clients-card__logo"
                    src="../../assets/images/ildar_mullahmetov.png"
                  />
                </li>
                <li>
                  <span class="clients-card__user" ng-tr="NLHOM.NLHOM23"></span>
                </li>
                <li>
                  <span
                    class="clients-card__title nl-home--green"
                    ng-tr="NLHOM.NLHOM24"
                  ></span>
                </li>
                <li>
                  <p ng-tr="NLHOM.NLHOM25"></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Элементы управления -->
    </div>
  </section>

  <section class="nl-home-prices">
    <div class="nl-price-wrapper">
      <div class="w-container">
        <div class="price-header">
          <span
            data-aos="fade-down"
            data-aos-duration="1000"
            ng-tr="NLHOM.NLHOM26"
          ></span>
        </div>
      </div>

      <div class="newprice">
        <section class="pricecards-section">
          <div
            class="new infocard"
            data-aos="fade-up"
            data-aos-delay="0"
            data-aos-duration="1000"
          >
            <h3 class="pricecard-header" ng-tr="NLPRC.NLPRC2"></h3>
            <div class="infocard-content">
              <ul class="infocard-content-prices">
                <li ng-tr="NLPRC.NLPRC3"></li>
                <li ng-tr="NLPRC.NLPRC4"></li>
                <li ng-tr="NLPRC.NLPRC5"></li>
              </ul>

              <ul class="infocard-content-services">
                <li ng-tr="NLPRC.NLPRC6"></li>
                <li ng-tr="NLPRC.NLPRC7"></li>
                <li ng-tr="NLPRC.NLPRC8"></li>
                <li ng-tr="NLPRC.NLPRC9"></li>
              </ul>
            </div>
          </div>

          <div
            class="new pricecard"
            data-aos="fade-up"
            data-aos-delay="0"
            data-aos-duration="1000"
          >
            <h3 class="pricecard-header" ng-tr="NLPRC.NLPRC10"></h3>

            <div class="pricecard-content">
              <ul class="pricecard-content-prices">
                <li ng-tr="NLPRC.NLPRC11">0</li>
                <li ng-tr="NLPRC.NLPRC12">0</li>
                <li ng-tr="NLPRC.NLPRC13">0</li>
              </ul>
              <a
                class="nl-btn nl-btn-orange pricecard-button"
                ng-tr="NLPRC.NLPRC14"
                ng-click="openLoginModal('modal-lk-registrationlk', null, 'PROJECT')"
              ></a>
              <ul class="pricecard-content-services">
                <li ng-tr="NLPRC.NLPRC15"></li>
                <li ng-tr="NLPRC.NLPRC16"></li>
                <li>&mdash;</li>
              </ul>
            </div>
          </div>

          <div
            class="new pricecard pricecard-center"
            data-aos="fade-up"
            data-aos-delay="0"
            data-aos-duration="1000"
          >
            <h3 class="pricecard-header" ng-tr="NLPRC.NLPRC18"></h3>

            <div class="pricecard-content">
              <ul class="pricecard-content-prices">
                <li>&mdash;</li>
                <li ng-tr="NLPRC.NLPRC21"></li>
                <li ng-tr="NLPRC.NLPRC28"></li>
              </ul>
              <a
                class="nl-btn nl-btn-orange pricecard-button"
                ng-tr="NLPRC.NLPRC22"
                ng-click="openLoginModal('modal-lk-registrationlk', null, 'PRODUCT')"
              ></a>
              <ul class="pricecard-content-services">
                <li ng-tr="NLPRC.NLPRC23"></li>
                <li ng-tr="NLPRC.NLPRC24"></li>
                <li ng-tr="NLPRC.NLPRC25"></li>
              </ul>
            </div>
          </div>

          <div
            class="new pricecard"
            data-aos="fade-up"
            data-aos-delay="0"
            data-aos-duration="1000"
          >
            <h3 class="pricecard-header" ng-tr="NLPRC.NLPRC26"></h3>

            <div class="pricecard-content">
              <ul class="pricecard-content-prices">
                <li ng-tr="NLPRC.NLPRC27"></li>
                <li ng-tr="NLPRC.NLPRC28-400"></li>
                <li ng-tr="NLPRC.NLPRC29"></li>
              </ul>
              <a
                class="nl-btn nl-btn-orange pricecard-button"
                ng-tr="NLPRC.NLPRC30"
                ng-click="openLoginModal('modal-lk-registrationlk', null, 'PRODUCT')"
              ></a>
              <ul class="pricecard-content-services">
                <li ng-tr="NLPRC.NLPRC31"></li>
                <li ng-tr="NLPRC.NLPRC32"></li>
                <li ng-tr="NLPRC.NLPRC33"></li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>

  <section class="nl-home-prices-mobile">
    <div>
      <div class="w-container">
        <div class="price-header">
          <h3
            data-aos="fade-down"
            data-aos-duration="1000"
            ng-tr="NLHOM.NLHOM26"
            class="nl-home--title"
          ></h3>
        </div>
      </div>
      <div
        id="prices-carousel"
        class="carousel slide"
        data-ride="carousel"
        style="display: inline-block;"
      >
        <div class="carousel-inner">
          <!-- БЕСПЛАТНО -->

          <div class="item active">
            <div class="item-wrapper">
              <h3 ng-tr="NLPRC.NLPRC10" class="price-card-mobile__title"></h3>
              <div
                class="price-card-mobile"
                data-aos="fade-up"
                data-aos-delay="0"
                data-aos-duration="1000"
              >
                <ul>
                  <li>
                    <div
                      class="nl-home--description"
                      ng-tr="NLPRC.NLPRC3-1"
                    ></div>
                    <div class="nl-home--title" ng-tr="NLPRC.NLPRC11"></div>
                  </li>

                  <li><hr /></li>
                  <li
                    class="nl-home--title nl-home--green"
                    ng-tr="NLPRC.NLPRC6"
                  ></li>

                  <li>
                    <div
                      class="nl-home--description"
                      ng-tr="NLPRC.NLPRC7"
                    ></div>
                    <div class="nl-home--title" ng-tr="NLPRC.NLPRC15"></div>
                  </li>

                  <li>
                    <div
                      class="nl-home--description"
                      ng-tr="NLPRC.NLPRC8"
                    ></div>
                    <div class="nl-home--title" ng-tr="NLPRC.NLPRC16"></div>
                  </li>

                  <li>
                    <div
                      class="nl-home--description"
                      ng-tr="NLPRC.NLPRC9"
                    ></div>
                    <div class="nl-home--title">&mdash;</div>
                  </li>

                  <li>
                    <a
                      class="nl-btn nl-btn-orange"
                      ng-tr="NLPRC.NLPRC22"
                      ng-click="openLoginModal('modal-lk-registrationlk', null, 'PRODUCT')"
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- 10 тестов в месяц -->

          <div class="item">
            <div class="item-wrapper">
              <h3 ng-tr="NLPRC.NLPRC18" class="price-card-mobile__title"></h3>
              <div
                class="price-card-mobile"
                data-aos="fade-up"
                data-aos-delay="0"
                data-aos-duration="1000"
              >
                <ul>
                  <li>
                    <div
                      class="nl-home--description"
                      ng-tr="NLPRC.NLPRC4"
                    ></div>
                    <div class="nl-home--title" ng-tr="NLPRC.NLPRC21"></div>
                  </li>
                  <li><hr /></li>
                  <li>
                    <div
                      class="nl-home--description"
                      ng-tr="NLPRC.NLPRC5"
                    ></div>
                    <div class="nl-home--title" ng-tr="NLPRC.NLPRC28"></div>
                  </li>

                  <li><hr /></li>
                  <li
                    class="nl-home--title nl-home--green"
                    ng-tr="NLPRC.NLPRC6"
                  ></li>

                  <li>
                    <div
                      class="nl-home--description"
                      ng-tr="NLPRC.NLPRC7"
                    ></div>
                    <div class="nl-home--title" ng-tr="NLPRC.NLPRC23"></div>
                  </li>

                  <li>
                    <div
                      class="nl-home--description"
                      ng-tr="NLPRC.NLPRC8"
                    ></div>
                    <div class="nl-home--title" ng-tr="NLPRC.NLPRC24"></div>
                  </li>

                  <li>
                    <div
                      class="nl-home--description"
                      ng-tr="NLPRC.NLPRC9"
                    ></div>
                    <div class="nl-home--title" ng-tr="NLPRC.NLPRC25"></div>
                  </li>

                  <li>
                    <a
                      class="nl-btn nl-btn-orange"
                      ng-tr="NLPRC.NLPRC22"
                      ng-click="openLoginModal('modal-lk-registrationlk', null, 'PRODUCT')"
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Безлимит -->

          <div class="item">
            <div class="item-wrapper">
              <h3 ng-tr="NLPRC.NLPRC26" class="price-card-mobile__title"></h3>
              <div
                class="price-card-mobile"
                data-aos="fade-up"
                data-aos-delay="0"
                data-aos-duration="1000"
              >
                <ul>
                  <li>
                    <div
                      class="nl-home--description"
                      ng-tr="NLPRC.NLPRC3"
                    ></div>
                    <div class="nl-home--title" ng-tr="NLPRC.NLPRC27"></div>
                  </li>
                  <li><hr /></li>
                  <li>
                    <div
                      class="nl-home--description"
                      ng-tr="NLPRC.NLPRC4"
                    ></div>
                    <div class="nl-home--title" ng-tr="NLPRC.NLPRC28-400"></div>
                  </li>
                  <li><hr /></li>
                  <li>
                    <div
                      class="nl-home--description"
                      ng-tr="NLPRC.NLPRC5"
                    ></div>
                    <div class="nl-home--title" ng-tr="NLPRC.NLPRC29"></div>
                  </li>

                  <li><hr /></li>

                  <li
                    class="nl-home--title nl-home--green"
                    ng-tr="NLPRC.NLPRC6"
                  ></li>

                  <li>
                    <div
                      class="nl-home--description"
                      ng-tr="NLPRC.NLPRC7"
                    ></div>
                    <div class="nl-home--title" ng-tr="NLPRC.NLPRC31"></div>
                  </li>

                  <li>
                    <div
                      class="nl-home--description"
                      ng-tr="NLPRC.NLPRC8"
                    ></div>
                    <div class="nl-home--title" ng-tr="NLPRC.NLPRC32"></div>
                  </li>

                  <li>
                    <div
                      class="nl-home--description"
                      ng-tr="NLPRC.NLPRC9"
                    ></div>
                    <div class="nl-home--title" ng-tr="NLPRC.NLPRC33"></div>
                  </li>

                  <li>
                    <a
                      class="nl-btn nl-btn-orange"
                      ng-tr="NLPRC.NLPRC22"
                      ng-click="openLoginModal('modal-lk-registrationlk', null, 'PRODUCT')"
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Элементы управления -->
        <a class="left section-price-mobile" role="button" data-slide="prev">
          <span
            class="glyphicon glyphicon-chevron-left"
            aria-hidden="true"
          ></span>
          <span class="sr-only">Предыдущий</span>
        </a>
        <a class="right" role="button" data-slide="next">
          <span
            class="glyphicon glyphicon-chevron-right"
            aria-hidden="true"
          ></span>
          <span class="sr-only">Следующий</span>
        </a>
      </div>
    </div>
  </section>

  <section class="research-section">
    <div
      class="new researchcard"
      data-aos="fade-up"
      data-aos-delay="0"
      data-aos-duration="1000"
    >
      <h3 ng-tr="NLPRC.NLPRC34"></h3>
      <div class="researchcard-description">
        <span ng-tr="NLPRC.NLPRC35"></span>
        <span>
          <a
            href="/assets/files/UXCrowd_Отчет_по_результатам_тестирования.pdf"
            target="_blank"
            class="researchcard-example"
            >Пример отчета</a
          >
        </span>
      </div>

      <a
        class="nl-btn nl-btn-green"
        ng-click="$state.go('contacts');"
        ng-tr="NLPRC.NLPRC36"
      ></a>
    </div>
    <div
      class="new questioncard"
      data-aos="fade-up"
      data-aos-delay="0"
      data-aos-duration="1000"
    >
      <img src="../../assets//images/question.png" />
      <h3 ng-tr="NLPRC.NLPRC37"></h3>
      <a
        ng-click="$state.go('contacts');"
        href="/"
        class="researchcard-example"
        ng-tr="NLPRC.NLPRC38"
      ></a>
    </div>
  </section>

  <section class="nl-home-finish">
    <div class="finish-wrapper">
      <ul>
        <li><h1 ng-tr="NLHOM.NLHOM27"></h1></li>
        <li><h3 ng-tr="NLHOM.NLHOM28"></h3></li>
        <li>
          <a
            class="nl-btn nl-btn-orange finish-wrapper_btn"
            ng-tr="NLHOM.NLHOM29"
            ng-click="openLoginModal('modal-lk-registrationlk', null, 'PROJECT')"
          ></a>
        </li>
        <li>
          <a
            ng-click="$state.go('contacts');"
            ng-tr="NLHOM.NLHOM30"
            class="finish-wrapper_ask"
            href="/"
          ></a>
        </li>
      </ul>
    </div>
  </section>
  <img
    src="../../assets/images/nl-home-top-blot.svg"
    class="nl-home__top-blot-img"
    data-aos="fade-zoom-in"
    data-aos-delay="0"
    data-aos-duration="1000"
  />
  <img
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="1000"
    class="bottom-img"
    src="../../assets/images/Rectangle 5.2.png"
  />
  <img
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="1000"
    class="bottom-img-mobile"
    src="../../assets/images/nl-home-blot-bottom-mobile.svg"
  />
</div>

<style>
  .work-wrapper__img-arrow {
    height: 42px;
  }

  .bottom-img-mobile {
    display: none;
  }

  .clients-img-blot {
    position: absolute;
    top: -12%;
    left: -100px;
    height: 130%;
    z-index: -20;
    max-width: unset;
    width: calc(100% + 100px);
  }

  .item-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .nl-home .carousel {
    width: 100%;
    padding-top: 0px;
  }

  .nl-home .nl-home-prices-mobile .carousel {
    padding-bottom: 0px;
  }

  /* ---- section-finish ---- */

  .finish-wrapper_ask {
    text-decoration: underline;
    color: white;
  }

  .finish-wrapper_btn {
    margin-top: 20px;
  }

  .nl-home-finish ul > li {
    color: #ffffff;
    padding: 10px;
  }

  .nl-home-finish h1 {
    color: #ffffff;
  }

  .nl-home-finish {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
  }

  /* ---- blots ---- */

  @media (min-width: 1441px) {
    .nl-home__top-blot-img {
      width: 65%;
    }

    .nl-home-section-start {
      padding-top: 375px !important;
    }
  }

  .nl-home__top-blot-img {
    position: absolute;
    z-index: -20;
    top: 0px;
    right: 0px;
  }

  /* @media (min-width: 1441px) {
    .nl-home__center-blot-img {
      top: -30% !important;
    }
  } */

  .nl-home__center-blot-img {
    position: absolute;
    z-index: -20;
    top: -10%;
    height: 100%;
    width: 100%;
  }

  /* ---- section-clients ---- */

  .nl-home-section-clients-mobile {
    padding-top: 100px;
    display: none;
    position: relative;
  }

  .clients-card p {
    line-height: 21px;
    color: #777676;
  }

  .clients-card__title {
    font-size: 24px;
    font-weight: bold;
  }

  .clients-wrapper__header {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

  .clients-card__user {
    color: #c4c4c4;
    font-size: 18px;
    font-weight: 500;
  }

  .clients-wrapper__cards {
    margin-top: 20px;
    display: flex;
    text-align: center;
    align-items: center;
  }

  .clients-card__logo {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #eeeeee;
  }

  .clients-card {
    width: 320px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
    line-height: 21px;

    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  .clients-card.clients-card-center {
    width: 425px;
    margin: 0px 28px;
  }

  .nl-home ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  .clients-card li {
    margin: 20px 0px;
  }

  .nl-home-section-clients {
    padding-top: 50px;
  }

  .clients-wrapper__logo-list {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .clients-wrapper__logo-list_flex-end {
    align-items: flex-end;
  }

  .nl-home-section-clients {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .clients-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    width: 1120px;
  }

  /* ---- shared ---- */

  .nl-home--title {
    font-size: 30px;
    font-weight: 900;
    color: #464646;
  }

  .nl-home--description {
    color: #919191;
    font-size: 18px;
    font-weight: 500;
  }

  .nl-home--green {
    color: #20c997;
  }
  /* ---- section-helpful ---- */

  .helpful-card__img {
    display: flex;
    align-items: flex-end;
    height: 150px;
  }

  .helpful-card__title {
    font-size: 20px;
    font-weight: 600;
    padding: 30px 0px;
    height: 100px;
  }

  .helpful-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 280px;
    margin: 0px 20px;
  }

  .helpful-wrapper__cards {
    display: flex;
    margin-top: 40px;
  }

  .helpful-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 45px;
  }

  .helpful-wrapper__description {
    margin-top: 20px;
  }

  .nl-home-section-helpful {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* ---- section-work ---- */

  .work-wrapper__footer {
    padding: 60px 0px 60px 0px;
  }

  .work-wrapper__footer .nl-btn {
    border-radius: 50px;
    width: 230px;
  }

  .content-video-wrapper {
    width: 500px;
    height: 385px;
  }

  .content-video-wrapper iframe {
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 5px;
  }

  .work-wrapper__content-video {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .work-wrapper__header {
    padding: 90px 0px 80px;
  }

  .work-wrapper__header h2 {
    font-size: 30px;
    font-weight: 900;
  }

  .work-wrapper {
    display: flex;
    flex-direction: column;
    color: #464646;
    position: relative;
  }

  .nl-home-card__description {
    font-weight: 500;
    text-align: left;
  }

  .nl-home-card__title {
    left: -22px;
    top: 0px;
    height: 100%;

    display: flex;
    align-items: center;

    color: #20c997;
    text-transform: uppercase;
    position: absolute;

    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .nl-home-section-work .nl-home-card {
    height: 120px;
    width: 450px;
    flex-direction: column;
    display: flex;
    position: relative;
    justify-content: center;

    padding-left: 50px;
    padding-right: 20px;

    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px;
  }

  .work-wrapper__content {
    display: flex;
    flex-direction: row;
    width: 1120px;
    align-self: center;
    justify-content: space-between;
  }

  .nl-home-section-work .work-wrapper {
    margin-top: 150px;

    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
  }

  .work-wrapper__img-arrow {
    margin-top: -20px;
  }

  .work-wrapper__img-blot-circle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -20;
  }
  .work-wrapper__img-blot-rect {
    position: absolute;
    top: 300px;
    left: 0px;
    width: 100%;
    height: calc(100% - 300px);
    z-index: -20;
  }

  /* ---- section-top ---- */

  .nl-home-top-blot {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .nl-home-section-start {
    padding-top: 300px;
    display: flex;
    justify-content: center;
  }

  .nl-home-section-start .start-wrapper {
    width: 1120px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  .start-wrapper {
    position: relative;
  }

  .start-wrapper-info__header {
    font-weight: 600;
    font-size: 30px;
    color: #464646;
  }

  .start-wrapper-info__description {
    margin: 30px 0px 40px;
  }

  /* @media (min-width: 691px) and (max-width: 1120px) { */

  .start-wrapper__img-girl {
    position: absolute;
    top: 40px;
    right: 0px;
  }

  .nl-home-section-start .start-wrapper .start-wrapper-info {
    width: 610px;
  }

  /* ---- BUTTON STYLES ---- */

  .nl-btn {
    border-radius: 50px;
    padding: 22px 45px !important;
    transition: background-color 0.2s ease, transform 70ms ease,
      -webkit-transform 70ms ease;
    font: 400 18px/18px futura-pt, sans-serif;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }

  .nl-btn:hover {
    color: #fff;
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }

  .nl-btn:active {
    color: #fff;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  .nl-btn.nl-btn-green {
    background-color: #20c997;
  }

  .nl-btn.nl-btn-green:hover {
    background-color: #00ac79;
  }

  .nl-btn.nl-btn-orange {
    background-color: #ffab29;
  }

  .nl-btn.nl-btn-orange:hover {
    background-color: #ec9104;
  }

  /* ---- BUTTON STYLES ---- */
</style>

<style>
  /* mobile */

  .nl-home-prices-mobile .carousel > a {
    position: absolute;
    top: 5px;
    color: #808080;
  }

  .nl-home-prices-mobile .carousel a.left {
    left: 10px;
  }

  .nl-home-prices-mobile .carousel a.right {
    right: 10px;
  }

  .nl-home-prices-mobile .carousel-inner ul > li {
    padding: 5px;
  }

  .nl-home-prices-mobile .carousel-inner ul > li > hr {
    margin: 0px;
  }

  .nl-home-prices-mobile .carousel-inner ul {
    text-align: center;
  }

  .nl-home-prices-mobile {
    display: none;
    margin-top: 50px;
  }

  .price-card-mobile__title {
    text-align: center;
    color: #20c997;
  }

  .price-card-mobile {
    width: auto;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
    line-height: 21px;

    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px;
  }

  /* mobile end */
  .price-header {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 60px;
    color: #464646;
  }

  .price-header h1 {
    color: #464646;
  }

  .nl-price-wrapper {
    color: #464646;
  }

  .bottom-img {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: -1;
    height: 850px;
  }

  /* -- researchcard -- */

  .researchcard-example {
    color: #20c997;
    text-decoration: underline;
    font-weight: 500;
  }

  .researchcard-description {
    text-align: center;
    font-weight: 500;
    line-height: 22px;
  }

  .research-section {
    margin: 60px 0px 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .new.researchcard {
    width: 835px;
    height: 235px;
    padding: 20px;

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;

    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  /* -- questioncard -- */

  .new.questioncard {
    margin-left: 10px;
    padding: 30px;

    width: 275px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  /* -- infocard -- */

  .new.infocard {
    padding: 40px 20px 30px 20px;
    width: 275px;
    flex-direction: column;
    display: flex;
    color: #464646;
  }

  .infocard .pricecard-header {
    opacity: 0;
  }

  .new.infocard .infocard-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .new.infocard .infocard-content ul > li {
    list-style-type: none;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
  }

  .infocard-content-prices li {
    padding: 17px 0px;
  }

  .infocard-content-services li {
    padding: 20px 0px;
    max-height: 64px;
    display: flex;
    align-items: center;
    line-height: 21px;
    font-weight: 500;
  }

  .infocard-content-services li:first-child {
    padding: 0px;
    line-height: 21px;
    font-weight: 500;
    font-size: 18px;
  }

  /* -- pricecard -- */

  .pricecards-section ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  .newprice .pricecards-section .pricecard {
    width: 275px;
    padding: 40px 0px 30px 0px;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    flex-direction: column;
    display: flex;
  }

  .pricecard-header {
    margin-bottom: 10px;
  }

  .price-header span {
    font-size: 30px;
    font-weight: 600;
  }

  .new.pricecard .pricecard-content ul > li {
    border-bottom: 1px solid #f2f2f2;
  }

  .new.pricecard .pricecard-content-prices li {
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    padding: 5px 0px;
  }

  .new.pricecard .pricecard-content-services li {
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;
    padding: 20px 0px;
  }

  .new.pricecard .pricecard-content ul li:last-child {
    border: none;
  }

  .new.pricecard {
    text-align: center;
  }

  .new.pricecard .pricecard-content .nl-btn {
    margin: 30px 0px 40px 0px;
  }

  .new.pricecard.pricecard-center {
    margin: 0px 10px;
  }

  .pricecard-mobile

  /* -- end pricecard -- */

  @media (min-width: 691px) and (max-width: 768px) {
  }

  .newprice {
    position: relative;
  }
  .newprice .pricecards-section {
    display: flex;
    justify-content: center;
    /* background-image: url(../assets/images/price-bg.svg)!important; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -436px;
  }

  .newprice .pricecards-section h3 {
    line-height: normal;
    font-size: 24px;
    color: #3d3d3d;
  }
  .newprice .pricecards-section .pricecard .pricecard-description {
    line-height: 18px;
    font-size: 18px;
    color: #3d3d3d;
    opacity: 0.5;
    margin-top: 25px;
  }
  .newprice .pricecards-section .pricecard .pricecard-description.sub-heading {
    opacity: 1;
  }
  .newprice .pricecard-footer {
    margin-top: 30px;
  }
  .newprice .pricecards-section .pricecard .pricecard-content h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: bold;
    color: #3d3d3d;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .pricecard-footer .nl-btn {
    width: 100%;
    padding: 15px 20px;
    line-height: 18px;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
  }

  .pricecard-footer .nl-btn .blue {
    background: #07b4ff;
  }
  @media (max-width: 1048px) {
    .newprice .pricecards-section .pricecard {
      min-width: 300px;
      width: 300px;
      margin-left: 10px !important;
      margin-right: 10px !important;
      height: 586px;
    }
    .newprice .pricecards-section .pricecard.pricecard-center .nl-btn-green {
      margin-top: 0px;
    }
    .newprice .pricecards-section {
      overflow-x: scroll;
      justify-content: left;
      -ms-overflow-style: none;
    }
    .newprice .pricecards-section::-webkit-scrollbar {
      display: none;
    }
  }
  .modal-header.newprice-modal {
    border-bottom: none;
    padding: 30px 30px 0 30px;
  }
  .new-green-btn.newprice-modal {
    margin-top: 40px;
    line-height: 18px;
    font-size: 18px;
    text-align: center;
    width: 100%;
  }
  .modal-body.newprice-modal {
    padding: 15px;
  }
  .newprice-modal-opened .modal-content {
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
  .newprice-modal-opened .modal-dialog {
    width: 320px;
  }
  .newprice-modal-opened .modal-backdrop {
    background-color: rgba(32, 201, 151, 0.6);
  }
  .sample-show-hide {
    transition: all linear 0.5s;
  }
  .sample-show-hide.ng-hide {
    opacity: 0;
  }
</style>

<style>
  @media (min-width: 1120px) {
    .work-wrapper__content-steps {
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
    }
  }

  @media (max-width: 1120px) {
    .nl-home__top-blot-img {
      right: auto;
      width: 100%;
    }
    .start-wrapper__img-girl {
      position: unset;
      margin-bottom: 50px;
    }
    .nl-home-section-start .start-wrapper {
      width: auto;
      align-items: center;
    }
    .nl-home-section-start {
      padding-top: calc(20% + 50px);
    }
    .start-wrapper {
      padding: 20px;
    }

    .nl-home-section-start .start-wrapper .start-wrapper-info {
      width: auto;
      text-align: center;
    }

    .work-wrapper {
      margin-top: 50px;
    }

    .work-wrapper__content {
      width: 100%;
      flex-direction: column;
    }

    .nl-home-section-work .nl-home-card {
      width: auto;
      height: auto;
      padding: 40px;
      margin-bottom: 40px;
    }

    .nl-home-card__title {
      left: calc(50% - 15px);
      top: -11px;
      height: auto;
    }

    .nl-home-card__description {
      text-align: center;
    }

    .content-video-wrapper {
      width: auto;
      height: auto;
      padding: 0px 10px;
      max-width: 500px;
      max-height: 385px;
    }

    .helpful-wrapper__cards {
      flex-direction: column;
    }

    .helpful-wrapper {
      width: 100%;
      padding: 0px 18px;
      text-align: center;
      margin-top: 0px;
    }

    .nl-home--title {
      font-size: 18px;
    }
    .helpful-card__title {
      padding: 20px 0px;
      height: auto;
    }
    .nl-home--description {
      font-size: 16px;
    }

    .work-wrapper__footer {
      padding: 30px 0px;
    }

    .nl-home-section-clients-mobile {
      background-size: cover;
      display: block;
    }

    .nl-home-section-clients {
      display: none;
    }

    /* ---- research section ---- */

    .research-section {
      flex-direction: column;
      width: auto;
      padding: 0px 10px;
      margin: 0px;
      text-align: center;
      margin-bottom: 30px;
    }

    .research-section .researchcard {
      width: 100%;
      margin-bottom: 15px;
      height: auto;
      padding: 15px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    }

    .research-section .new.questioncard {
      width: 100%;
      margin-bottom: 20px;
      margin-left: 0px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    }

    .research-section .new.questioncard h3 {
      margin: 10px 0px;
    }

    .researchcard-description {
      margin: 10px 0px 20px 0px;
    }

    /* ---- research section ---- */

    .finish-wrapper {
      margin-top: 50px;
      padding: 0px 17px;
      text-align: center;
    }

    .bottom-img-mobile {
      display: inherit;
      width: 100%;
      height: 1150px;
      position: absolute;
      z-index: -1;
      bottom: 0px;
    }

    .bottom-img {
      display: none;
    }

    .finish-wrapper ul > li > h1 {
      font-size: 24px;
    }

    .finish-wrapper ul > li > h3 {
      font-size: 18px;
    }

    .nl-home-finish {
      margin-bottom: 50px;
    }

    .nl-home-prices {
      display: none;
    }

    .nl-home-prices-mobile {
      display: block;
    }

    .work-wrapper__img-blot-circle {
      height: 200px;
    }

    .work-wrapper__img-blot-rect {
      top: 150px;
      height: calc(100% - 150px);
    }

    .clients-wrapper__header {
      font-size: 20px;
      text-align: center;
    }

    .clients-card {
      text-align: center;
      width: auto;
      margin: 0px 10px;
      width: auto;
    }

    .clients-card.clients-card-center {
      width: auto;
      margin: 0px 10px;
    }

    .clients-wrapper__logo-list {
      padding: 0px 10px;
    }

    .clients-wrapper__logo-list img {
      width: 28%;
    }

    .price-header {
      padding-top: 0px;
      padding-bottom: 30px;
    }

    .price-card-mobile .nl-home--description {
      font-size: 15px;
    }
    .price-card-mobile .nl-btn.nl-btn-orange {
      margin-top: 10px;
    }

    .yt-hd-thumbnail-outer-container {
      width: 100%;
      height: auto;
      min-width: 280px;
      min-height: 180px;
    }

    .yt-hd-thumbnail-inner-container {
      width: 100%;
      height: auto;
      min-width: 280px;
      min-height: 180px;
    }
  }
</style>

<!-- Добавляет возможность двигатьк карусель с телефона -->
<script>
  $(".carousel").carousel({ interval: false });

  try {
    $("#prices-carousel .left").click(function () {
      $("#prices-carousel").carousel("prev");
    });

    $("#prices-carousel .right").click(function () {
      $("#prices-carousel").carousel("next");
    });

    $(".carousel").on("touchstart", function (event) {
      var xClick = event.originalEvent.touches[0].pageX;
      $(this).one("touchmove", function (event) {
        var xMove = event.originalEvent.touches[0].pageX;
        if (Math.floor(xClick - xMove) > 5) {
          $(this).carousel("next");
        } else if (Math.floor(xClick - xMove) < -5) {
          $(this).carousel("prev");
        }
      });
      $(".carousel").on("touchend", function () {
        $(this).off("touchmove");
      });
    });

    if (window.innerWidth >= 1120) {
      $("iframe.yt-hd-thumbnail").youTubeHDThumbnail({
        darkenThumbnail: true,
      });
    }
  } catch (e) {
    console.log(e);
  }
</script>
